//variables
/*color*/

$fondo: #E4F2E7;
// $fondo: #F6F6C9;
$color-fondo-head:#8ec3b0;
$color-fondo: #9ed5c5;
$color-secundario: #198754;
$color-titulo: #05758b;
$text-color:#ffffff;


/*spacing*/

$spacing-large:6rem;
$spacing-medium:2.4rem;
$spacing-small:2rem;
$spacing-xsmall:1rem;

/*font-family*/

$font-principal:'Merriweather', serif;
$font-titulo-principal: 'Kanit', sans-serif;
// $font-title:;

/*font_sizes*/

$text-large:5.2em;
$text-medium:2.2em;
$text-base:1.6em;
$text-small:1em;